body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

:root {
    --main-button: rgb(167, 0, 0);
    --confirm-button: rgba(28, 208, 29, 0.52);
    --calendar-color: #cfbcbc;
    --calendar-background-color: #f7f5e9;
    --active-color: #626274;
    --border-color: #6487bd;
    --active-color: #505072;
    --text-color:#6487bd;
    --background-color: #1a2a2a;
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-button: rgb(93, 124, 220);
        --confirm-button: rgb(229, 215, 0);
        --calendar-color: #1a2a2a;
        --calendar-background-color: #1a2a3a;
        --border-color: rgb(143, 120, 120);
        --active-color: #505072;
        --text-color:#dfece7;
        --background-color: #1a2a2a;
        color: #0b0b0c;
        background-color: #02040c;
        height: 99%;
        min-height: 99vh;
    }
}